<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 住院_结算作废 -->
<mapper namespace="com.buit.cis.ims.dao.ImJszfDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        ZYH as zyh,JSCS as jscs,JGID as jgid,ZFGH as zfgh,ZFRQ as zfrq,JZRQ as jzrq,HZRQ as hzrq,MZLB as mzlb
    </sql>

    <insert id="insert">
        INSERT INTO IM_JSZF (ZYH,
                             JSCS,
                             JGID,
                             ZFGH,
                             ZFRQ,
                             JZRQ,
                             HZRQ,
                             MZLB)
        VALUES (#{zyh},
                #{jscs},
                #{jgid},
                #{zfgh},
                #{zfrq},
                #{jzrq},
                #{hzrq},
                #{mzlb})
    </insert>

    <update id="update">
        <!-- UPDATE IM_JSZF SET -->

        <!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
        <!--                    JGID = #{jgid} , -->
        <!--                </if> -->

        <!--                <if test="@sqlt.Ognl@isNotEmpty(zfgh)"> -->
        <!--                    ZFGH = #{zfgh} , -->
        <!--                </if> -->

        <!--                <if test="@sqlt.Ognl@isNotEmpty(zfrq)"> -->
        <!--                    ZFRQ = #{zfrq} , -->
        <!--                </if> -->

        <!--                <if test="@sqlt.Ognl@isNotEmpty(jzrq)"> -->
        <!--                    JZRQ = #{jzrq} , -->
        <!--                </if> -->

        <!--                <if test="@sqlt.Ognl@isNotEmpty(hzrq)"> -->
        <!--                    HZRQ = #{hzrq} , -->
        <!--                </if> -->

        <!--                <if test="@sqlt.Ognl@isNotEmpty(mzlb)"> -->
        <!--                    MZLB = #{mzlb}  -->
        <!--                </if> -->
        <!--             WHERE  -->
        <!--             ZYH = #{zyh}  AND  -->
        <!--             JSCS = #{jscs}  -->
    </update>


    <delete id="deleteById">
        DELETE
        FROM IM_JSZF
        WHERE ZYH = #{zyh}
          AND JSCS = #{jscs}
    </delete>

    <delete id="removeByEntity">
        DELETE FROM IM_JSZF
        <include refid="where"/>
    </delete>

    <select id="getById" resultType="ImJszf">
        SELECT
        <include refid="columns"/>
        FROM IM_JSZF
        WHERE
        ZYH = #{zyh} AND
        JSCS = #{jscs}
    </select>

    <sql id="where">
        <where>
            <!--                <if test="@sqlt.Ognl@isNotEmpty(zyh)"> -->
            <!--                     AND ZYH = #{zyh} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(jscs)"> -->
            <!--                     AND JSCS = #{jscs} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
            <!--                     AND JGID = #{jgid} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(zfgh)"> -->
            <!--                     AND ZFGH = #{zfgh} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(zfrq)"> -->
            <!--                     AND ZFRQ = #{zfrq} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(jzrq)"> -->
            <!--                     AND JZRQ = #{jzrq} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(hzrq)"> -->
            <!--                     AND HZRQ = #{hzrq} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(mzlb)"> -->
            <!--                     AND MZLB = #{mzlb} -->
            <!--                </if> -->
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM IM_JSZF
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="ImJszf">
        SELECT
        <include refid="columns"/>
        FROM IM_JSZF
        <include refid="where"/>

        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <!--查询是否有结算作废记录-->
    <select id="checkCount" resultType="java.lang.Integer">
        select count(1)
        from IM_JSZF
        where ZFGH = #{is_UserId}
          AND JZRQ IS NULL
          AND ZFRQ &gt; #{idt_jzrq}
          and JGID = #{gl_jgid}
    </select>
    <!--取消日报-->
    <select id="doCancelCommit">
        update IM_JSZF
        SET JZRQ = null
        where ZFGH = #{czgh}
          and JZRQ = #{jzrq}
          and JGID = #{jgid}
    </select>
    <!---->
    <select id="queryJzrqCoount" resultType="java.lang.Integer">
        select count(1)
        from IM_JSZF
        where ZFGH = #{userid}
          AND JZRQ IS NULL
          AND ZFRQ &lt; #{ldt_End}
          and JGID = #{gl_jgid}
    </select>
    <!--查询汇总次数-->
    <select id="queryHzCount" resultType="java.lang.Integer">
        select count(1)
        from IM_JSZF
        where HZRQ IS Null
          AND JZRQ &lt; #{idt_End}
          and JGID = #{gl_jgid}
    </select>
    <!--汇总结算作废的费用合计-->
    <select id="queryHzFyhjJszf" resultType="java.util.Map">
        SELECT sum(IM_ZYJS.JKHJ) as BQJS
        FROM IM_ZYJS IM_ZYJS,
             IM_JSZF IM_JSZF
        WHERE IM_ZYJS.ZYH = IM_JSZF.ZYH
          AND IM_ZYJS.JSCS = IM_JSZF.JSCS
          AND IM_ZYJS.JGID = IM_JSZF.JGID
          AND IM_JSZF.HZRQ = #{adt_hzrq}
          AND IM_ZYJS.JSLX in (5, 1)
          and IM_JSZF.JGID = #{gl_jgid}
    </select>
    <!--查询汇总现金作废的自负金额-->
    <select id="queryHzZfhjXjzp" resultType="java.util.Map">
        SELECT sum(IM_ZYJS.ZFHJ) as XJZP
        FROM IM_ZYJS IM_ZYJS,
             IM_JSZF IM_JSZF
        WHERE IM_ZYJS.ZYH = IM_JSZF.ZYH
          AND IM_ZYJS.JSCS = IM_JSZF.JSCS
          AND IM_ZYJS.JGID = IM_JSZF.JGID
          AND IM_JSZF.HZRQ = #{adt_hzrq}
          AND IM_ZYJS.JSLX in (5, 1)
          and IM_ZYJS.JGID = #{gl_jgid}
    </select>
    <!--查询汇总现金支票缴款合计作废-->
    <select id="queryHzJkhjZfXjzp" resultType="java.util.Map">
        SELECT sum(IM_ZYJS.JKHJ) as XJZP
        FROM IM_ZYJS IM_ZYJS,
             IM_JSZF IM_JSZF
        WHERE IM_ZYJS.ZYH = IM_JSZF.ZYH
          AND IM_ZYJS.JSCS = IM_JSZF.JSCS
          AND IM_ZYJS.JGID = IM_JSZF.JGID
          AND IM_JSZF.HZRQ = #{adt_hzrq}
          AND IM_ZYJS.JSLX in (5, 1)
          and IM_ZYJS.JGID = #{gl_jgid}
    </select>

    <!-- 修改结账作废 的 结账日期-->
    <update id="updateJzrq">
        UPDATE IM_JSZF
        SET JZRQ = #{idt_jzrq}
        WHERE ZFGH = #{userid}
          AND JZRQ IS NULL
          AND ZFRQ &lt; #{ldt_End}
          and JGID = #{gl_jgid}
    </update>
    <!--住院管理-日终汇总（取消汇总）-->
    <update id="doCancelCollectCommit">
        update IM_JSZF
        set HZRQ=null
        where HZRQ = #{hzrq}
          and JGID = #{jgid}
    </update>
    <!--修改汇总日期-->
    <update id="updateHzrq">
        UPDATE IM_JSZF
        Set HZRQ=#{ldt_GatherDate}
        Where HZRQ IS Null
          AND JZRQ &lt; #{idt_End}
          and JGID = #{gl_jgid}
    </update>
</mapper>

