<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 住院_退补缴款 -->
<mapper namespace="com.buit.cis.ims.dao.ImTbkkDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JKXH as jkxh,JGID as jgid,ZYH as zyh,JKRQ as jkrq,JKJE as jkje,JKFS as jkfs,SJHM as sjhm,ZPHM as zphm,JSCS as jscs,CZGH as czgh,JZRQ as jzrq,HZRQ as hzrq,ZFRQ as zfrq,ZFGH as zfgh,ZCPB as zcpb,SCBZ as scbz,MZLB as mzlb, FPHM AS FPHM, JKLX AS JKLX
    </sql>

    <insert id="insert">
        INSERT INTO IM_TBKK (
            JKXH ,
            JGID ,
            ZYH ,
            JKRQ ,
            JKJE ,
            JKFS ,
            SJHM ,
            ZPHM ,
            JSCS ,
            CZGH ,
            JZRQ ,
            HZRQ ,
            ZFRQ ,
            ZFGH ,
            ZCPB ,
            SCBZ ,
            MZLB ,
            JKLX ,
            FPHM
        ) VALUES (
            #{jkxh} ,
            #{jgid} ,
            #{zyh} ,
            #{jkrq} ,
            #{jkje} ,
            #{jkfs} ,
            #{sjhm} ,
            #{zphm} ,
            #{jscs} ,
            #{czgh} ,
            #{jzrq} ,
            #{hzrq} ,
            #{zfrq} ,
            #{zfgh} ,
            #{zcpb} ,
            #{scbz} ,
            #{mzlb} ,
            #{jklx} ,
            #{fphm}
        )
    </insert>

    <update id="update" ><!--
        UPDATE IM_TBKK SET
            JGID = #{jgid} ,
            ZYH = #{zyh} ,
            JKRQ = #{jkrq} ,
            JKJE = #{jkje} ,
            JKFS = #{jkfs} ,
            SJHM = #{sjhm} ,
            ZPHM = #{zphm} ,
            JSCS = #{jscs} ,
            CZGH = #{czgh} ,
            JZRQ = #{jzrq} ,
            HZRQ = #{hzrq} ,
            ZFRQ = #{zfrq} ,
            ZFGH = #{zfgh} ,
            ZCPB = #{zcpb} ,
            SCBZ = #{scbz} ,
            MZLB = #{mzlb}
        WHERE
            JKXH = #{jkxh}
            -->
    </update>


    <delete id="deleteById">
        DELETE FROM IM_TBKK WHERE
        JKXH = #{jkxh}
    </delete>

    <delete id="removeByEntity">
        DELETE FROM IM_TBKK <include refid="where"/>
    </delete>

    <select id="getById" resultType="ImTbkk">
        SELECT <include refid="columns" />
            FROM IM_TBKK
            WHERE
        JKXH = #{jkxh}
    </select>

    <sql id="where">
        <where>
            <if test="@sqlt.Ognl@isNotEmpty(jkxh)">
                AND JKXH = #{jkxh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(jgid)">
                AND JGID = #{jgid}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zyh)">
                AND ZYH = #{zyh}
            </if>
            <!--                <if test="@sqlt.Ognl@isNotEmpty(jkrq)"> -->
            <!--                     AND JKRQ = #{jkrq} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(jkje)"> -->
            <!--                     AND JKJE = #{jkje} -->
            <!--                </if> -->
            <if test="@sqlt.Ognl@isNotEmpty(jkfs)">
                AND JKFS = #{jkfs}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(sjhm)">
                AND SJHM = #{sjhm}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zphm)">
                AND ZPHM = #{zphm}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zphm)">
                AND ZPHM = #{zphm}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(jscs)">
                AND JSCS = #{jscs}
            </if>
            <!--                <if test="@sqlt.Ognl@isNotEmpty(czgh)"> -->
            <!--                     AND CZGH = #{czgh} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(jzrq)"> -->
            <!--                     AND JZRQ = #{jzrq} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(hzrq)"> -->
            <!--                     AND HZRQ = #{hzrq} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(zfrq)"> -->
            <!--                     AND ZFRQ = #{zfrq} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(zfgh)"> -->
            <!--                     AND ZFGH = #{zfgh} -->
            <!--                </if> -->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(zcpb)"> -->
            <!--                     AND ZCPB = #{zcpb} -->
            <!--                </if> -->
            <!--            <if test="@sqlt.Ognl@isNotEmpty(zfpb)">-->
            <!--                AND ZFPB = #{zfpb}-->
            <!--            </if>-->
            <!--                <if test="@sqlt.Ognl@isNotEmpty(scbz)"> -->
            <!--                     AND SCBZ = #{scbz} -->
            <!--                </if> -->
            <if test="@sqlt.Ognl@isNotEmpty(mzlb)">
                AND MZLB = #{mzlb}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(jklx)">
                AND JKLX = #{jklx}
            </if>
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM IM_TBKK
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="ImTbkk">
        SELECT <include refid="columns" />
        FROM IM_TBKK
        <include refid="where"/>

        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>

    <!--     业务sql      -->
    <!--缴费管理-缴费处理分页查询-->
    <select id="queryPatientPayPage" resultType="com.buit.cis.ims.response.PatientPayPageResp">
      SELECT
            a.jkxh as jkxh,
            b.brxm as brxm,
            a.zyh as zyh,
            a.jkrq as jkrq,
            a.sjhm as sjhm,
            a.jkje as jkje,
            a.jkfs as jkfs,
            a.zphm as zphm,
            b.zyhm as zyhm,
            a.zfrq as zfrq,
            a.jklx as jklx,
            a.fphm as fphm
        FROM
            IM_TBKK a,
            IM_HZRY b
        WHERE
            a.ZYH = b.zyh
            and a.JGID= #{jgid}
            and b.cypb &lt; 8
        <if test="@sqlt.Ognl@isNotEmpty(ywlx)">
            AND b.ywlx = #{ywlx}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(sjhm)">
            AND a.SJHM like CONCAT(CONCAT('%',#{sjhm}),'%')
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(zyh)">
            AND a.zyh =#{zyh}
        </if>

        ORDER BY
            a.jkrq  desc

    </select>


    <!--缴费管理-缴费处理-注销-->
    <update id="patientPayCancel">
        update IM_TBKK set zfrq=#{zfrq},zfgh=#{zfgh} where JGID=#{jgid} and SJHM=#{sjhm}
    </update>


    <!--缴费管理-缴费查询-->
    <select id="queryPatientCost" resultType="com.buit.cis.ims.response.QueryPatientCostResp">
        SELECT
        b.brxm as brxm,
        b.brch as brch,
        b.brks as brks,
        a.zyh as zyh,
        a.jkrq as jkrq,
        a.sjhm as sjhm,
        a.jkje as jkje,
        a.jkfs as jkfs,
        a.zphm as zphm,
        a.czgh as czgh,
        b.zyhm as zyhm,
        b.brbq as brbq,
        a.zfrq as zfrq,
        a.jklx as jklx,
        a.fphm as fphm
        FROM
        IM_TBKK a,
        IM_HZRY b
        WHERE
        a.zyh = b.zyh
        and a.JGID= #{jgid}
        <if test="@sqlt.Ognl@isNotEmpty(ywlx)">
            AND b.ywlx =#{ywlx}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(jkfs)">
            AND a.JKFS =#{jkfs}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(czgh)">
            AND a.CZGH =#{czgh}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(brks)">
            AND b.BRKS =#{brks}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(zyhm)">
            AND b.ZYHM =#{zyhm}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(startDate)">
            AND date_format(a.JKRQ, '%Y-%m-%d')  &gt;= #{startDate}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(endDate)">
            AND date_format(a.JKRQ, '%Y-%m-%d')  &lt;= #{endDate}
        </if>

        ORDER BY
        a.jkrq  desc
    </select>

    <!--根据住院号获取病人的缴款总计金额-->
    <select id="queryJkje" resultType="java.math.BigDecimal">
        SELECT IFNULL(sum(JKJE),0.00) AS jkje FROM IM_TBKK where ZYH = #{zyh}
<!--        <if test="@sqlt.Ognl@isNotEmpty(zzrq)">
            AND b.JKRQ &lt;= #{zzrq}
        </if>-->
    </select>

    <!--根据住院号查询交款合金额 -->
    <select id="queryTotalPayment" resultType="java.math.BigDecimal">
	       SELECT sum(JKJE) as JKHJ
		  FROM IM_TBKK
		 WHERE ZYH = #{zyh}
		   AND JSCS = 0
	   	   <if test="@sqlt.Ognl@isNotEmpty(jgid)">
               	AND JGID = #{jgid}
           </if>
    </select>
    <!--查询在院病人预缴金统计-->
    <select id="queryPatientImTbkkPage" resultType="com.buit.cis.ims.response.PatientImTbkkResp">
    SELECT
        a.ZYHM,
        a.BRXM,
        a.BRCH,
        a.BRKS,
        a.BRBQ,
        b.JKRQ,
        b.JKJE,
        b.JKFS,
        b.SJHM,
        b.ZPHM,
        c.PERSONNAME as czgh,
        b.FPHM,
        b.JKLX
    FROM
        IM_HZRY a
      inner join   IM_TBKK b on   a.zyh = b.zyh
       left join   hr_personnel c on   b.CZGH=c.PERSONID
    WHERE
         a.jgid=#{jgid}
        and a.cypb=0
        <if test="@sqlt.Ognl@isNotEmpty(ywlx)">
            AND a.ywlx =#{ywlx}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(jklx)">
            AND b.jklx =#{jklx}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(jkfs)">
            AND b.JKFS =#{jkfs}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(brks)">
            AND a.BRKS =#{brks}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(brbq)">
            AND a.BRBQ =#{brbq}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(startDate)">
            AND b.JKRQ  &gt;= #{startDate}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(endDate)">
            AND b.JKRQ  &lt;= #{endDate}
        </if>


    </select>
    <!--在院病人预缴款统计总和-->
    <select id="queryPatientImTbkkSum" resultType="java.math.BigDecimal">
    SELECT
        IFNULL(sum(b.JKJE),0)
    FROM
        IM_HZRY a
        inner join   IM_TBKK b on   a.zyh = b.zyh
        left join   hr_personnel c on   b.CZGH=c.PERSONID
        WHERE
        a.jgid=#{jgid}
        and a.cypb=0
        <if test="@sqlt.Ognl@isNotEmpty(ywlx)">
            AND a.ywlx =#{ywlx}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(jklx)">
            AND b.jklx =#{jklx}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(jkfs)">
            AND b.JKFS =#{jkfs}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(brks)">
            AND a.BRKS =#{brks}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(brbq)">
            AND a.BRBQ =#{brbq}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(startDate)">
            AND b.JKRQ  &gt;= #{startDate}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(endDate)">
            AND b.JKRQ  &lt;= #{endDate}
        </if>

    </select>

    <!--修改结算次数-->
    <!--<update id="updateJscs">

    UPDATE IM_TBKK SET JSCS = #{ujscs} Where ZYH = #{zyh}  And JGID = #{jgid} and JSCS = 0

    </update>-->

    <!--查询缴款记录列表-->
    <select id="findJkjl" resultType="com.buit.cis.ims.response.CostImTbkkResp">
        select a.jkrq,
               a.jkje,
               a.jkfs,
               a.sjhm,
               a.zcpb,
               b.PERSONNAME as czy,
               a.jklx,
               a.fphm
        from IM_TBKK a
                 left join hr_personnel b on a.czgh = b.PERSONID
        where a.zyh = #{zyh}
          and a.jgid = #{jgid}
        order by a.jkrq desc

    </select>
    <!--统计缴款金额-->
    <select id="valSumJkje" resultType="java.lang.Integer">
        SELECT IFNULL(sum(jkje),0) as jkje FROM IM_TBKK WHERE zyh=#{zyh}
    </select>
    <!--住院号分组查询缴款金额-->
<!--    <select id="findZytbkkjkje" resultType="com.buit.cis.ims.response.ImTbkkJkjeResp">-->
<!--        select-->
<!--        b.zyh as zyh,-->
<!--        sum( b.jkje ) as jkje-->
<!--        from-->
<!--        IM_HZRY a left join IM_TBKK b on b.zyh = a.zyh-->
<!--        where-->
<!--         ( b.jscs = 0 )-->
<!--        and ( a.cypb = 0 )-->
<!--        <if test="@sqlt.Ognl@isNotEmpty(brks)">-->
<!--            and a.brks = #{brks}-->
<!--        </if>-->
<!--        <if test="@sqlt.Ognl@isNotEmpty(ywlx)">-->
<!--            and a.ywlx = #{ywlx}-->
<!--        </if>-->
<!--        <if test="@sqlt.Ognl@isNotEmpty(brbq)">-->
<!--            and a.brbq = #{brbq}-->
<!--        </if>-->
<!--      GROUP BY b.zyh-->

<!--    </select>-->
    <!--检查是否有缴款记录-->
    <select id="checkCount" resultType="java.lang.Integer">
      select count(1) from  IM_TBKK where CZGH = #{is_UserId} AND JZRQ IS NULL AND JKRQ &gt;#{idt_jzrq}  and JGID = #{gl_jgid}
    </select>
    <!--取消日报-->
    <select id="doCancelCommit">
    update IM_TBKK set JZRQ = null where CZGH =#{czgh}  and JZRQ=#{jzrq} and JGID =#{jgid}
    </select>
    <!--按缴款时间查询结账信息-->
    <select id="queryIdsJksj" resultType="java.util.Map">
    SELECT a.SJHM as SJHM from IM_TBKK a WHERE a.CZGH =${as_czgh} AND a.JGID =#{al_jgid} AND a.JZRQ IS not NULL AND (a.JZRQ between #{adt_jzrq_s} and #{adt_jzrq_e}) and a.SJHM is not null order by a.SJHM asc
    </select>
    <!--查询结账日期-->
    <select id="queeryJzrq" resultType="java.lang.Integer">
      select count(1) from IM_TBKK where  CZGH = #{userid} AND JZRQ IS NULL AND JKRQ &lt;#{ldt_End}   and JGID = #{gl_jgid}
    </select>

    <!--修改结账日期-->
    <update id="updateJzrq">
        UPDATE IM_TBKK SET JZRQ = #{idt_jzrq}  WHERE CZGH = #{userid} AND JZRQ IS NULL AND JKRQ &lt; #{ldt_End}  and JGID = #{gl_jgid}
    </update>
    <!--住院管理-日终汇总（取消汇总）-->
    <update id="doCancelCollectCommit">
    update IM_TBKK set HZRQ=null where HZRQ =#{hzrq} and JGID=#{jgid}
    </update>
    <!--修改汇总日期-->
    <update id="updateHzrq">
        UPDATE IM_TBKK Set HZRQ= #{ldt_GatherDate} Where HZRQ IS Null AND JZRQ &lt; #{idt_End} and JGID= #{gl_jgid}
    </update>
    <!--日终结账-明细( 缴款明细查询)-->
    <select id="queryJkmxJsrq" resultType="java.util.Map">
            SELECT  IFNULL(sum(a.JKJE),0) as JKJE_ALL
				FROM IM_TBKK a,IM_HZRY b,DIC_KSZD c,PUB_FKFS d,hr_personnel e
				WHERE (a.ZYH= b.ZYH) AND (b.BRKS = c.ID) AND
				( a.JKFS = d.FKFS ) AND   ( a.CZGH = e.PERSONID )
				AND (a.CZGH =#{as_czgh} ) AND ( a.JGID =#{al_jgid} )
        <if test="jzbs==0">
            AND  a.JZRQ IS NULL AND a.JKRQ &lt;=#{idt_jzrq}
        </if>
         <if test="jzbs!=0 and hasRecordMore==true">
            AND ( a.JZRQ &gt;= #{adt_jzrq_s} ) AND  ( a.JZRQ &lt;#{adt_jzrq_e} )
        </if>
         <if test="jzbs!=0 and hasRecordMore==false">
            AND a.JZRQ =#{idt_jzrq}
        </if>
        order by b.ZYH
    </select>
    <!--日终结账-明细( 缴款作废明细查询)-->
    <select id="queryJkmxJsrqZf" resultType="java.util.Map">
    SELECT  IFNULL(sum(-a.JKJE),0) as JKJE_ALL
				FROM IM_TBKK a,IM_HZRY b,DIC_KSZD c,IM_JKZF g,PUB_FKFS d,hr_personnel e
				WHERE ( a.ZYH  = b.ZYH ) AND ( b.BRKS = c.ID ) AND
				( a.JKXH = g.JKXH ) AND ( a.JKFS = d.FKFS )
				AND   ( a.CZGH = e.PERSONID )	AND (a.CZGH =#{as_czgh} )
				AND ( a.JGID = #{al_jgid} )
        <if test="jzbs==0">
            AND  g.JZRQ IS NULL AND g.ZFRQ &lt;=#{idt_jzrq}
        </if>
         <if test="jzbs!=0 and hasRecordMore==true">
            AND ( g.JZRQ &gt;= #{adt_jzrq_s} ) AND  ( g.JZRQ &lt; #{adt_jzrq_e} )
        </if>
         <if test="jzbs!=0 and hasRecordMore==false">
            AND g.JZRQ =#{idt_jzrq}
        </if>
        order by b.ZYH
    </select>
    <!--结算退款明细查询-->
    <select id="queryTkmxJzrqList" resultType="java.util.Map">
        SELECT DIC_KSZD.ID as KSDM,
				DIC_KSZD.OFFICENAME as KSMC,
				IM_HZRY.ZYH as ZYH,
				IM_HZRY.ZYHM as ZYHM,
				IM_HZRY.BRXM as BRXM,
				IM_TBKK.JKXH as JKXH,
				IM_TBKK.SJHM as SJHM,
				IM_TBKK.JKJE as JKJE,
				IM_TBKK.JKFS as FKFS,
				PUB_FKFS.FKMC as JKFS,
				IM_TBKK.ZPHM as ZPHM,
				g.PERSONID as CZGH,
				0 AS ZFPB
				FROM IM_TBKK IM_TBKK,IM_HZRY IM_HZRY,DIC_KSZD DIC_KSZD,PUB_FKFS PUB_FKFS ,IM_ZYJS IM_ZYJS,hr_personnel g
				WHERE (IM_TBKK.ZYH= IM_HZRY.ZYH) AND
				(IM_HZRY.ZYH = IM_ZYJS.ZYH) AND
				(IM_HZRY.BRKS = DIC_KSZD.ID) AND
				 (IM_TBKK.JSCS = IM_ZYJS.JSCS) AND
				( IM_TBKK.JKFS = PUB_FKFS.FKFS )
				AND   ( IM_TBKK.CZGH = g.PERSONID )
				AND (IM_ZYJS.CZGH =#{as_czgh} )
				AND ( IM_TBKK.JGID =#{al_jgid} )
        <if test="jzbs==0">
            AND  IM_ZYJS.JZRQ IS NULL AND IM_TBKK.JKRQ &lt;=#{idt_jzrq}
        </if>
         <if test="jzbs!=0 and hasRecordMore==true">
            AND ( IM_ZYJS.JZRQ &gt;= #{adt_jzrq_s} ) AND  ( IM_ZYJS.JZRQ &lt;#{adt_jzrq_e})
        </if>
         <if test="jzbs!=0 and hasRecordMore==false">
            AND IM_ZYJS.JZRQ =#{idt_jzrq}
        </if>
        order by IM_HZRY.ZYH
    </select>
    <!--结算退款作废明细查询-->
    <select id="queryTkmxJzrqListZf" resultType="java.util.Map">
                SELECT DIC_KSZD.ID as KSDM,
				DIC_KSZD.OFFICENAME as KSMC,
				IM_HZRY.ZYH as ZYH,
				IM_HZRY.ZYHM as ZYHM,
				IM_HZRY.BRXM as BRXM,
				IM_TBKK.JKXH as JKXH,
				IM_TBKK.SJHM as SJHM,
				-IM_TBKK.JKJE as JKJE,
				IM_TBKK.JKFS as FKFS,
				PUB_FKFS.FKMC as JKFS,
				IM_TBKK.ZPHM as ZPHM,
				g.PERSONID as CZGH,
				1 AS ZFPB
				FROM IM_TBKK IM_TBKK,IM_HZRY IM_HZRY,DIC_KSZD DIC_KSZD,IM_JKZF IM_JKZF,PUB_FKFS PUB_FKFS ,IM_ZYJS IM_ZYJS,hr_personnel g
				WHERE ( IM_TBKK.ZYH  = IM_HZRY.ZYH ) AND
				(IM_HZRY.ZYH = IM_ZYJS.ZYH) AND
				( IM_HZRY.BRKS = DIC_KSZD.ID ) AND
				( IM_TBKK.JKXH = IM_JKZF.JKXH ) AND
				 (IM_TBKK.JSCS = IM_ZYJS.JSCS) AND
				( IM_TBKK.JKFS = PUB_FKFS.FKFS )
				AND   ( IM_TBKK.CZGH = g.PERSONID )
				AND (IM_ZYJS.CZGH =#{as_czgh} )
				AND ( IM_TBKK.JGID =#{al_jgid} )
				AND ( IM_TBKK.ZFPB  = '1' )

        <if test="jzbs==0">
            AND  IM_ZYJS.JZRQ IS NULL AND IM_JKZF.ZFRQ &lt;=#{idt_jzrq}
        </if>
         <if test="jzbs!=0 and hasRecordMore==true">
            AND ( IM_ZYJS.JZRQ &gt;#{adt_jzrq_s }) AND  ( IM_ZYJS.JZRQ &lt;#{adt_jzrq_e} )
        </if>
         <if test="jzbs!=0 and hasRecordMore==false">
            AND IM_ZYJS.JZRQ = #{idt_jzrq}
        </if>
        order by IM_HZRY.ZYH
    </select>
    <!--日终结账-明细(退款明细)-->
    <select id="queryTkmxJsrq" resultType="java.util.Map">
        SELECT  IFNULL(sum(a.JKJE),0) as JKJE_ALL
				FROM IM_TBKK a,IM_HZRY b,DIC_KSZD c,PUB_FKFS d,hr_personnel e
				WHERE (a.ZYH= b.ZYH) AND (b.BRKS = c.ID) AND
				( a.JKFS = d.FKFS ) AND   ( a.CZGH = e.PERSONID )
				AND (a.CZGH = #{as_czgh} ) AND ( a.JGID =#{al_jgid} )
        <if test="jzbs==0">
            AND  a.JZRQ IS NULL AND a.JKRQ &lt;=#{idt_jzrq}
        </if>
         <if test="jzbs!=0 and hasRecordMore==true">
            AND ( a.JZRQ &gt;= #{adt_jzrq_s} ) AND  ( a.JZRQ &lt; #{adt_jzrq_e} )
        </if>
         <if test="jzbs!=0 and hasRecordMore==false">
            AND a.JZRQ = #{idt_jzrq}
        </if>
        order by b.ZYH
    </select>
    <!--日终结账-明细(作废退款明细)-->
<!--    <select id="queryTkmxJsrqZf" resultType="java.util.Map">-->
<!--        SELECT  IFNULL(sum(-a.JKJE),0) as JKJE_ALL-->
<!--				FROM IM_TBKK a,IM_HZRY b,DIC_KSZD c,IM_JKZF g,PUB_FKFS d,hr_personnel e-->
<!--				WHERE ( a.ZYH  = b.ZYH ) AND ( b.BRKS = c.ID ) AND-->
<!--				( a.JKXH = g.JKXH ) AND ( a.JKFS = d.FKFS )-->
<!--				AND   ( a.CZGH = e.PERSONID )	AND (a.CZGH =#{as_czgh} )-->
<!--				AND ( a.JGID = #{al_jgid} )-->
<!--        <if test="jzbs==0">-->
<!--            AND  g.JZRQ IS NULL AND g.ZFRQ &lt;= #{idt_jzrq}-->
<!--        </if>-->
<!--         <if test="jzbs!=0 and hasRecordMore==true">-->
<!--            AND ( g.JZRQ &gt;= #{adt_jzrq_s} ) AND  ( g.JZRQ &lt; #{adt_jzrq_e} )-->
<!--        </if>-->
<!--         <if test="jzbs!=0 and hasRecordMore==false">-->
<!--            AND g.JZRQ = #{idt_jzrq}-->
<!--        </if>-->
<!--        order by b.ZYH-->
<!--    </select>-->
    <!--日终汇总(缴款明细list)-->
    <select id="queryJkmxJzrqList" resultType="java.util.Map">
            SELECT c.ID as KSDM,c.OFFICENAME as KSMC,
				b.ZYH as ZYH,b.ZYHM as ZYHM,b.BRXM as BRXM,
				a.JKXH as JKXH,a.SJHM as SJHM,a.JKJE as JKJE,
				a.JKFS as FKFS,d.FKMC as JKFS,a.ZPHM as ZPHM,
				e.PERSONID as CZGH,0 AS ZFPB
				FROM IM_TBKK a,IM_HZRY b,DIC_KSZD c,PUB_FKFS d,hr_personnel e
				WHERE (a.ZYH= b.ZYH) AND (b.BRKS = c.ID) AND
				( a.JKFS = d.FKFS )  AND   ( a.CZGH = e.PERSONID )
				AND (a.CZGH =#{as_czgh} ) AND ( a.JGID =#{al_jgid} )
        <if test="jzbs==0">
            AND  a.JZRQ IS NULL AND a.JKRQ &lt;=#{idt_jzrq}
        </if>
         <if test="jzbs!=0 and hasRecordMore==true">
            AND ( a.JZRQ &gt;= #{adt_jzrq_s} ) AND  ( a.JZRQ &lt; #{adt_jzrq_e} )
        </if>
         <if test="jzbs!=0 and hasRecordMore==false">
            AND a.JZRQ =#{idt_jzrq}
        </if>
        order by b.ZYH
    </select>
    <!--日终汇总(缴款作废明细list)-->
    <select id="queryJkmxJzrqListZf" resultType="java.util.Map">
        SELECT c.ID as KSDM,
				c.OFFICENAME as KSMC,
				b.ZYH as ZYH,
				b.ZYHM as ZYHM,
				b.BRXM as BRXM,
				a.JKXH as JKXH,
				a.SJHM as SJHM,
				-a.JKJE as JKJE,
				a.JKFS as FKFS,
				d.FKMC as JKFS,
				a.ZPHM as ZPHM,
				e.PERSONID as CZGH,
				1 AS ZFPB
				FROM IM_TBKK a,IM_HZRY b,DIC_KSZD c,IM_JKZF g,PUB_FKFS d,hr_personnel e
				WHERE ( a.ZYH  = b.ZYH ) AND ( b.BRKS = c.ID ) AND
				( a.JKXH = g.JKXH ) AND ( a.JKFS = d.FKFS )
				AND   ( a.CZGH = e.PERSONID )	AND (a.CZGH =#{as_czgh} )
				AND ( a.JGID =#{al_jgid} )
        <if test="jzbs==0">
            AND  g.JZRQ IS NULL AND g.ZFRQ &lt;=#{idt_jzrq}
        </if>
         <if test="jzbs!=0 and hasRecordMore==true">
            AND ( g.JZRQ &gt;= #{adt_jzrq_s} ) AND  ( g.JZRQ &lt;#{adt_jzrq_e} )
        </if>
         <if test="jzbs!=0 and hasRecordMore==false">
            AND g.JZRQ =#{idt_jzrq}
        </if>
        order by b.ZYH
    </select>
    <!--查询汇总次数-->
    <select id="queryHzCount" resultType="java.lang.Integer">
      select count(1) from IM_TBKK where   HZRQ IS Null AND JZRQ &lt;#{idt_End} and JGID = #{gl_jgid}
    </select>
    <!--统计汇总金额-->
    <select id="queryHzJkje" resultType="java.util.Map">
        SELECT IFNULL(sum(JKJE),0) as BQFS FROM IM_TBKK WHERE HZRQ=#{adt_hzrq} and JGID=#{gl_jgid}
    </select>
    <!--查询缴款作废金额-->
    <select id="queryHzJkjeZf" resultType="java.util.Map">
    SELECT IFNULL(sum(IM_TBKK.JKJE),0) as BQFS FROM IM_TBKK IM_TBKK,IM_JKZF IM_JKZF WHERE IM_TBKK.JKXH = IM_JKZF.JKXH AND IM_TBKK.JGID = IM_JKZF.JGID AND IM_JKZF.HZRQ= #{adt_hzrq} and IM_TBKK.JGID=#{gl_jgid}
    </select>
    <select id="queryDyfpJkje" resultType="java.util.Map">
        select IFNULL(sum(a.JKJE), 0) as JKJE
        from IM_TBKK a
        where a.ZYH = #{ZYH}
    </select>

    <select id="queryYjje" resultType="java.util.Map">
        select IFNULL(sum(a.JKJE),0) as JKJE from IM_TBKK a where a.ZYH = #{ZYH} and  a.jkrq &lt; #{jsrq}
    </select>
</mapper>

