<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 护理计划 -->
<mapper namespace="com.buit.cis.dctwork.dao.EmrHljhDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JLBH as jlbh,KSRQ as ksrq,HLZD as hlzd,HLMB as hlmb,HLCS as hlcs,HLPJ as hlpj,TZRQ as tzrq,ZYH as zyh,JGID as jgid
    </sql>

    <insert id="insert">
        INSERT INTO EMR_HLJH (
            JLBH ,
            KSRQ ,
            HLZD ,
            HLMB ,
            HLCS ,
            HLPJ ,
            TZRQ ,
            ZYH ,
            JGID 
        ) VALUES (
            #{jlbh} ,
            #{ksrq} ,
            #{hlzd} ,
            #{hlmb} ,
            #{hlcs} ,
            #{hlpj} ,
            #{tzrq} ,
            #{zyh} ,
            #{jgid} 
        )
    </insert>
    
    <update id="update" >
        UPDATE EMR_HLJH SET
            KSRQ = #{ksrq} ,
            HLZD = #{hlzd} ,
            HLMB = #{hlmb} ,
            HLCS = #{hlcs} ,
            HLPJ = #{hlpj} ,
            TZRQ = #{tzrq} ,
            ZYH = #{zyh} ,
            JGID = #{jgid} 
        WHERE 
            JLBH = #{jlbh}            
    </update>

    <delete id="deleteById">
        DELETE FROM EMR_HLJH WHERE
        JLBH = #{jlbh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM EMR_HLJH <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="EmrHljh">
        SELECT <include refid="columns" />
            FROM EMR_HLJH 
            WHERE 
        JLBH = #{jlbh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(jlbh)"> -->
<!--                     AND JLBH = #{jlbh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ksrq)"> -->
<!--                     AND KSRQ = #{ksrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(hlzd)"> -->
<!--                     AND HLZD = #{hlzd} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(hlmb)"> -->
<!--                     AND HLMB = #{hlmb} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(hlcs)"> -->
<!--                     AND HLCS = #{hlcs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(hlpj)"> -->
<!--                     AND HLPJ = #{hlpj} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(tzrq)"> -->
<!--                     AND TZRQ = #{tzrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zyh)"> -->
<!--                     AND ZYH = #{zyh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
<!--                     AND JGID = #{jgid} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM EMR_HLJH 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="EmrHljh">
        SELECT <include refid="columns" />
        FROM EMR_HLJH 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

