<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 体温单自定义表 -->
<mapper namespace="com.buit.cis.dctwork.dao.NisZdytzDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        ZDYID as zdyid,ZYH as zyh,ZDYMC as zdymc,DQZS as dqzs,JGID as jgid,PYDM as pydm,XMDM as xmdm
    </sql>

    <insert id="insert">
        INSERT INTO NIS_ZDYTZ (
            ZDYID ,
            ZYH ,
            ZDYMC ,
            DQZS ,
            JGID ,
            PYDM ,
            XMDM
        ) VALUES (
            #{zdyid} ,
            #{zyh} ,
            #{zdymc} ,
            #{dqzs} ,
            #{jgid} ,
            #{pydm} ,
            #{xmdm}
        )
    </insert>
    
    <update id="update" >
        UPDATE NIS_ZDYTZ SET
            ZYH = #{zyh} ,
            ZDYMC = #{zdymc} ,
            DQZS = #{dqzs} ,
            JGID = #{jgid} ,
            PYDM = #{pydm} ,
            XMDM = #{xmdm}
        WHERE 
            ZDYID = #{zdyid}          
    </update>

    <delete id="deleteById">
        DELETE FROM NIS_ZDYTZ WHERE
        ZDYID = #{zdyid} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM NIS_ZDYTZ <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="NisZdytz">
        SELECT <include refid="columns" />
            FROM NIS_ZDYTZ 
            WHERE 
        ZDYID = #{zdyid} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(zdyid)"> -->
<!--                     AND ZDYID = #{zdyid} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(zyh)">
                     AND ZYH = #{zyh}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(zdymc)"> -->
<!--                     AND ZDYMC = #{zdymc} -->
<!--                </if> -->
               <if test="@sqlt.Ognl@isNotEmpty(dqzs)"> 
                     AND DQZS = #{dqzs} 
                </if> 
                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> 
                     AND JGID = #{jgid} 
                </if> 
<!--                <if test="@sqlt.Ognl@isNotEmpty(pydm)"> -->
<!--                     AND PYDM = #{pydm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(xmdm)"> -->
<!--                     AND XMDM = #{xmdm} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM NIS_ZDYTZ 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="NisZdytz">
        SELECT <include refid="columns" />
        FROM NIS_ZDYTZ 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

