<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 口服单 -->
<mapper namespace="com.buit.cis.nurse.dao.CisKfdDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        KFDH as kfdh,ZYH as zyh,BRBQ as brbq,BRCH as brch,YPYF as ypyf,KFRQ as kfrq,KFSJ as kfsj,KFSD as kfsd,BYBS as bybs,BYSJ as bysj,BYGH as bygh,BYLY as byly,LYBS as lybs,JGID as jgid,ZYHM as zyhm
    </sql>

    <insert id="insert">
        INSERT INTO CIS_KFD (
            KFDH ,
            ZYH ,
            BRBQ ,
            BRCH ,
            YPYF ,
            KFRQ ,
            KFSJ ,
            KFSD ,
            BYBS ,
            BYSJ ,
            BYGH ,
            BYLY ,
            LYBS ,
            JGID ,
            ZYHM 
        ) VALUES (
            #{kfdh} ,
            #{zyh} ,
            #{brbq} ,
            #{brch} ,
            #{ypyf} ,
            #{kfrq} ,
            #{kfsj} ,
            #{kfsd} ,
            #{bybs} ,
            #{bysj} ,
            #{bygh} ,
            #{byly} ,
            #{lybs} ,
            #{jgid} ,
            #{zyhm} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE CIS_KFD SET
            ZYH = #{zyh} ,
            BRBQ = #{brbq} ,
            BRCH = #{brch} ,
            YPYF = #{ypyf} ,
            KFRQ = #{kfrq} ,
            KFSJ = #{kfsj} ,
            KFSD = #{kfsd} ,
            BYBS = #{bybs} ,
            BYSJ = #{bysj} ,
            BYGH = #{bygh} ,
            BYLY = #{byly} ,
            LYBS = #{lybs} ,
            JGID = #{jgid} ,
            ZYHM = #{zyhm} 
        WHERE 
            KFDH = #{kfdh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM CIS_KFD WHERE
        KFDH = #{kfdh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM CIS_KFD <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="CisKfd">
        SELECT <include refid="columns" />
            FROM CIS_KFD 
            WHERE 
        KFDH = #{kfdh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(kfdh)"> -->
<!--                     AND KFDH = #{kfdh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zyh)"> -->
<!--                     AND ZYH = #{zyh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(brbq)"> -->
<!--                     AND BRBQ = #{brbq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(brch)"> -->
<!--                     AND BRCH = #{brch} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ypyf)"> -->
<!--                     AND YPYF = #{ypyf} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(kfrq)"> -->
<!--                     AND KFRQ = #{kfrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(kfsj)"> -->
<!--                     AND KFSJ = #{kfsj} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(kfsd)"> -->
<!--                     AND KFSD = #{kfsd} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(bybs)"> -->
<!--                     AND BYBS = #{bybs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(bysj)"> -->
<!--                     AND BYSJ = #{bysj} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(bygh)"> -->
<!--                     AND BYGH = #{bygh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(byly)"> -->
<!--                     AND BYLY = #{byly} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(lybs)"> -->
<!--                     AND LYBS = #{lybs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
<!--                     AND JGID = #{jgid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zyhm)"> -->
<!--                     AND ZYHM = #{zyhm} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM CIS_KFD 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="CisKfd">
        SELECT <include refid="columns" />
        FROM CIS_KFD 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

