<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 留置导尿管感染风险因素评估表 -->
<mapper namespace="com.buit.cis.nurse.dao.NisLzdngpgbDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JLXH as jlxh,ZYH as zyh,MBLX as mblx,YBQK as ybqk,DNGLX as dnglx,LZSJ as lzsj,NYXZ as nyxz,PGCX as pgcx,HLCS as hlcs,HSQM as hsqm,RQ as rq,ZF as zf,JGID as jgid
    </sql>

    <insert id="insert">
        INSERT INTO NIS_LZDNGPGB (
            JLXH ,
            ZYH ,
            MBLX ,
            YBQK ,
            DNGLX ,
            LZSJ ,
            NYXZ ,
            PGCX ,
            HLCS ,
            HSQM ,
            RQ ,
            ZF ,
            JGID 
        ) VALUES (
            #{jlxh} ,
            #{zyh} ,
            #{mblx} ,
            #{ybqk} ,
            #{dnglx} ,
            #{lzsj} ,
            #{nyxz} ,
            #{pgcx} ,
            #{hlcs} ,
            #{hsqm} ,
            #{rq} ,
            #{zf} ,
            #{jgid} 
        )
    </insert>
    
    <update id="update" >
        UPDATE NIS_LZDNGPGB SET
            ZYH = #{zyh} ,
            MBLX = #{mblx} ,
            YBQK = #{ybqk} ,
            DNGLX = #{dnglx} ,
            LZSJ = #{lzsj} ,
            NYXZ = #{nyxz} ,
            PGCX = #{pgcx} ,
            HLCS = #{hlcs} ,
            HSQM = #{hsqm} ,
            RQ = #{rq} ,
            ZF = #{zf} ,
            JGID = #{jgid} 
        WHERE 
            JLXH = #{jlxh}         
    </update>

    <delete id="deleteById">
        DELETE FROM NIS_LZDNGPGB WHERE
        JLXH = #{jlxh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM NIS_LZDNGPGB <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="NisLzdngpgb">
        SELECT <include refid="columns" />
            FROM NIS_LZDNGPGB 
            WHERE 
        JLXH = #{jlxh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(jlxh)"> -->
<!--                     AND JLXH = #{jlxh} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(zyh)">
                     AND ZYH = #{zyh}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(mblx)"> -->
<!--                     AND MBLX = #{mblx} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ybqk)"> -->
<!--                     AND YBQK = #{ybqk} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(dnglx)"> -->
<!--                     AND DNGLX = #{dnglx} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(lzsj)"> -->
<!--                     AND LZSJ = #{lzsj} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(nyxz)"> -->
<!--                     AND NYXZ = #{nyxz} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(pgcx)"> -->
<!--                     AND PGCX = #{pgcx} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(hlcs)"> -->
<!--                     AND HLCS = #{hlcs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(hsqm)"> -->
<!--                     AND HSQM = #{hsqm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(rq)"> -->
<!--                     AND RQ = #{rq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zf)"> -->
<!--                     AND ZF = #{zf} -->
<!--                </if> -->
               <if test="@sqlt.Ognl@isNotEmpty(jgid)">
                    AND JGID = #{jgid}
               </if>
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM NIS_LZDNGPGB 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="NisLzdngpgb">
        SELECT <include refid="columns" />
        FROM NIS_LZDNGPGB 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    
    <!-- 留置导尿管感染风险因素评估表查询树结构-->
    <select id="queryLzdngTree" resultType="com.buit.cis.nurse.response.NisHzmbResp">
        SELECT CONCAT(a.RQ, '  ', b.MBMC ) as LABEL, a.MBLX as NAME
			FROM ( SELECT DATE_FORMAT( RQ, '%m-%d' ) AS RQ, 
							ZYH as ZYH,
							MBLX as MBLX,
							JGID as JGID
				FROM NIS_LZDNGPGB 
				GROUP BY 
					DATE_FORMAT(RQ, '%m-%d'),
					ZYH,
					MBLX,
					JGID 
				) a, NIS_HZMB b WHERE
				a.ZYH = b.ZYH 
				AND a.MBLX = b.MBLX 
				AND a.JGID = b.JGID
				AND a.ZYH = #{zyh}
				AND a.JGID = #{jgid}
				order by a.RQ
    </select>
    
    <!-- 根据日期查询留置导尿管感染风险因素评估表 -->
    <select id="queryLzdngByDate" resultType="com.buit.cis.nurse.response.NisLzdngpgbResp">
       SELECT JLXH as jlxh,ZYH as zyh,MBLX as mblx,YBQK as ybqk,DNGLX as dnglx,LZSJ as lzsj,NYXZ as nyxz,PGCX as pgcx,HLCS as hlcs,HSQM as hsqm,date_format(RQ, '%Y-%m-%d %H:%i') as rq,ZF as zf,JGID as jgid
        FROM NIS_LZDNGPGB 
        WHERE ZYH = #{zyh}
		<if test="@sqlt.Ognl@isNotEmpty(queryDate)">
			  and DATE_FORMAT(RQ, '%m-%d') = #{queryDate}
        </if> 
        and JGID = #{jgid}
        order by RQ
    </select>
    
    <!-- 根据日期查询留置导尿管感染风险因素评估表打印信息 -->
    <select id="queryPrintLzdngByDate" resultType="java.util.HashMap">
       select date_format(rq, '%Y-%m-%d %H:%i') as rq,
        case when find_in_set('年龄≥65岁',ybqk) > 0 then '√' else '' end as ybqk1,
        case when find_in_set('女',ybqk) > 0 then '√' else '' end as ybqk2,
        case when find_in_set('月经期',ybqk) > 0 then '√' else '' end as ybqk3,
        case when find_in_set('卧床>7天',ybqk) > 0 then '√' else '' end as ybqk4,
        case when find_in_set('糖尿病',ybqk) > 0 then '√' else '' end as ybqk5,
        case when find_in_set('恶性肿瘤',ybqk) > 0 then '√' else '' end as ybqk6,
        case when find_in_set('免疫抑制',ybqk) > 0 then '√' else '' end as ybqk7,
        case dnglx when '普通' then '√' else '' end as dnglx1,
        case dnglx when '双腔气囊' then '√' else '' end as dnglx2,
        case dnglx when '三腔气囊' then '√' else '' end as dnglx3,
        case lzsj when '&lt;3天' then '√' else '' end as lzsj1,
        case lzsj when '3-7天' then '√' else '' end as lzsj2,
        case lzsj when '>7天' then '√' else '' end as lzsj3,
        case nyxz when '清亮' then '√' else '' end as nyxz1,
        case nyxz when '浑浊' then '√' else '' end as nyxz2,
        case nyxz when '血尿' then '√' else '' end as nyxz3,
        case pgcx when '膀胱冲洗' then '√' else '' end as pgcx,
        zf,
        hlcs,
        hsqm
        from nis_lzdngpgb 
        where zyh = #{zyh}
		<if test="@sqlt.Ognl@isNotEmpty(queryDate)">
			  and date_format(rq, '%m-%d') = #{queryDate}
        </if> 
        and jgid = #{jgid}
        order by rq
    </select>
</mapper>

